{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="{% static '/css/style.css' %}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="col-md-6 offset-md-3" dir="rtl">
        <span class="anchor" id="formPayment"></span>
        <hr class="my-5">

        <!-- form card cc payment -->
        <div class="card card-outline-secondary">
            <div class="card-body text-right">
                <h3 class="text-center">پرداخت به درگاه پرداخت کوین کده
                </h3>
                <hr>
                <!-- <div class="alert alert-info p-2 pb-3">
                    <a class="close font-weight-normal initialism" data-dismiss="alert" href="#"><samp>×</samp></a>
                    CVC code is required.
                </div> -->
                <form class="form" role="form" autocomplete="off" method="POST" action="/pay/" enctype="application/x-www-form-urlencoded">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="cc_name">مبلغ</label>
                        <input name="amount" type="text" class="form-control number-separator" id="amount"  title="Amount" required="required">
                    </div>
                    <div class="form-group">
                        <label>نام و نام خانوادگی</label>
                        <input type="text" name="name" class="form-control" autocomplete="off" maxlength="20"  title="مشخصات واریز کننده" required="">
                    </div>
                    <div class="form-group">
                        <label>شماره موبایل</label>
                        <input type="text" name="mobile" class="form-control" autocomplete="off" maxlength="20"  title="شماره موبایل پرداخت کننده" required="">
                    </div>
                    <div class="form-group">
                        <label>توضیحات یا بابت (اختیاری)</label>
                        <input type="text" name="description" class="form-control" autocomplete="off" maxlength="20"  title="توضیحات" >
                    </div>
                    <!-- <div class="form-group row">
                        <label class="col-md-12">Card Exp. Date</label>
                        <div class="col-md-4">
                            <select class="form-control" name="cc_exp_mo" size="0">
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control" name="cc_exp_yr" size="0">
                                <option>2018</option>
                                <option>2019</option>
                                <option>2020</option>
                                <option>2021</option>
                                <option>2022</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" autocomplete="off" maxlength="3" pattern="\d{3}" title="Three digits at back of your card" required="" placeholder="CVC">
                        </div>
                    </div> -->
                    <!-- <div class="row">
                        <label class="col-md-12">Amount</label>
                    </div>
                    <div class="form-inline">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                            <input type="text" class="form-control text-right" id="exampleInputAmount" placeholder="39">
                            <div class="input-group-append"><span class="input-group-text">.00</span></div>
                        </div>
                    </div> -->
                    <hr>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-success btn-lg btn-block" >تایید</button>
                        </div>
                        <div class="col-md-6">
                            <button type="reset" class="btn btn-default btn-lg btn-block">انصراف</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
        <!-- /form card cc payment -->

</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
document.querySelectorAll('.number-separator').forEach((item) => {
  item.addEventListener('input', (e) => {
    if (/^[0-9.,]+$/.test(e.target.value)) {
      e.target.value = parseFloat(
        e.target.value.replace(/,/g, '')
      ).toLocaleString('en');
    } else {
      e.target.value = e.target.value.substring(0, e.target.value.length - 1);
    }
  });
});
</script>
</html>