{% load static %}
<!doctype html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link href="{% static '/css/style.css' %}" rel="stylesheet">
        <style>
        body{
            text-align: center;
            margin: 2em auto;
        }
    </style>
    <title>پرداخت موفق</title>
</head>
<body>

<div class="col-md-6 offset-md-3" dir="rtl">

    <div class="card card-outline-secondary">
        <div class="card-body text-right">
            <h3 class="text-center">پرداخت موفق
            </h3>
            <hr>
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th scope="row">مبلغ</th>
                    <td>{{ amount }} ریال</td>
                </tr>
                <tr>
                    <th scope="row">شماره فاکتور</th>
                    <td>{{ bill }}</td>
                </tr>
                <tr>
                    <th scope="row">شماره کارت</th>
                    <td>{{ card }}</td>
                </tr>
                                <tr>
                    <th scope="row">پرداخت کننده</th>
                    <td>{{ name }}</td>
                </tr>

                <tr>
                    <th scope="row">شناسه ارجاع</th>
                    <td>{{ ref }}</td>
                </tr>
                <tr>
                    <th scope="row">شماره پیگیری</th>
                    <td>{{ res }}</td>
                </tr>
                <tr>
                    <th scope="row">تاریخ پرداخت</th>
                    <td>{{ date }}</td>
                <tr>
                    <th scope="row">وضعیت پرداخت</th>
                    <td>موفق</td>
                </tr>




                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</html>